<launch>
    <!-- <node pkg="tf" type="static_transform_publisher" name="word2camera"  args="0 0 0 0 3.14 0 /world /camera_init 100" />
    <param name="/use_sim_time" value="true" /> -->

    <!-- Subscribed topics -->
    <param name="/LiDAR_pointcloud_topic" type="string" value= "/laser_cloud_flat" />
    <param name="/IMU_topic" type="string" value= "/front/imu" />
    <param name="/Image_topic" type="string" value= "/front/rgb/image" />
    <param name="map_output_dir" type="string" value="$(env HOME)/r3live_output" />
    <rosparam command="load" file="$(find r3live)/../config/r3live_azure_config.yaml" />
    

        
    <node pkg="r3live" type="r3live_LiDAR_front_end" name="r3live_LiDAR_front_end"  output="screen" required="true"/>
    <node pkg="r3live" type="r3live_mapping" name="r3live_mapping" output="screen" required="true" />
    
    <arg name="rviz" default="1" />
    <group if="$(arg rviz)">
        <node name="rvizvisualisation" pkg="rviz" type="rviz" output="log" args="-d $(find r3live)/../config/rviz/r3live_rviz_config_ouster.rviz" />
    </group>

    <!-- <arg name="bag_name" value="/home/jeff/Downloads/dataset/3rgbd/数据集/一楼厂房1.bag"/> -->
    <!-- <arg name="bag_name" value="/home/jeff/Downloads/dataset/3rgbd/数据集/一楼厂房2.bag"/> -->
    <!-- <arg name="bag_name" value="/home/jeff/Downloads/dataset/3rgbd/数据集/一楼进门口.bag"/> -->
    <!-- <arg name="bag_name" value="/home/jeff/Downloads/dataset/3rgbd/数据集/室内.bag"/> -->
    <!-- <arg name="bag_name" value="/home/jeff/Downloads/dataset/3rgbd/数据集/室内+室.bag"/> -->
    <arg name="bag_name" value="/home/jeff/Downloads/dataset/3rgbd/数据集/2222.bag"/>
    <!-- <arg name="bag_name" value="/home/jeff/Downloads/dataset/3rgbd/室内.bag"/> -->
    <!-- <arg name="bag_name" value="/home/jeff/Downloads/dataset/3rgbd/室外.bag"/> -->
    <!-- <arg name="bag_name" value="/home/jeff/Downloads/dataset/3rgbd/640_360.bag"/> -->
    <!-- <arg name="bag_name" value="/home/jeff/Downloads/dataset/3rgbd/320_180.bag"/> -->

	<node pkg="rosbag" type="play" name="rosbag" args=" -r 3 -s 0.0 $(arg bag_name) "/>

 </launch>
